#el-bg-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#el-bg-loader .loader-body {
    display: block;
    width: 100%;
	padding: 50px 0;
    width: 250px;
    margin: 0 auto;
}

#el-bg-loader .logo-image {
    height: 50px;
    width: 50px;
    margin: 0 auto 30px;
}

logo-icon {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 50px;
    height: 50px;
}

#el-bg-loader .loading-bar {
    width: 250px;
    height: 5px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #ccc;
    position: relative;
    overflow: hidden;
}

#el-bg-loader .loading-bar .moving-bar {
    height: 100%;
    width: 50px;
    position: absolute;
    transform: translate(-30px,0);
    background-color: #2D6862;
    border-radius: 2px;
    animation: animate-loading-bar 2s infinite ease;
}

@keyframes animate-loading-bar{
    0%,100%{
        transform:translate(-30px,0)
    }
    50%{
        transform:translate(230px,0)
    }
}
